{% extends 'page/index.html.twig' %}

{% block regionRight %}
    <div class="block block--page-view">
        <div class="block-content">
            <h2 class="field field-title">{{ page.title }}</h2>
            <div class="field field-body">{{ page.body }}</div>
            <div class="field field-category">{{ page.category.name }}</div>
            <div class="field field-created">{{ page.created.date|date('d-m-Y') }}</div>
            <div class="field field-comments">{{  include('comments/list.html.twig', {'items': page.comments}) }}</div>

        </div>
    </div>
{% endblock %}

{% block regionLeft %}
    Region Left
{% endblock %}